/* gallery.CSS style sheet for public new picture gallery */

div.textpanel.gallery {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 1500px;
  background: var(--primary-bg-color);
}

/*@media (max-width: 500px)
{
  div.textpanel.gallery
  {
    width: auto;
  }
}*/

div.gallerylist {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 20px;
  height: auto;
}

.gallerylink i {
  font-size: var(--fs-2);
  color: var(--primary-color);
  padding-right: 2rem;
}

.gallerylink a {
  display: block;
  padding: 1rem;
  color: var(--primary-link-color);
}

.gallerylink a:visited {
  color: var(--primary-link-visited-color);
}

.gallerylink a:hover {
  color: var(--primary-link-hover-color);
}

@media (max-width: 1000px) {
  div.gallerylist
  {
    grid-template-columns: 1fr 1fr;
    font-size: 95%;
  }
  div.gallerylink a { margin: 2px 0 }
}

@media (max-width: 600px) {
  div.gallerylist
  {
    display:block;
  }
}

form.addgalbutton input[type=submit], form.addphotobutton input[type=submit] {
  font-size: font-size: var(--fs-1);
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--reverse-color);
  background-color: var(--reverse-bg-color);
  text-decoration: none;
  cursor: pointer;
}

form.delbutton {
  margin: 10px 0
}

form input.title {
  max-width: 200px;
}

div.galdetails {
  background: white;
  color: #333;
  padding: 10px;
  margin: 10px 0;
}

div.gal_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.gal_container div.thumb {
  height: auto;
  background: white;
  border: thin solid #999;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
} 

div.gal_container div.thumb img {
  display: block; 
  margin: auto;
  height: 133px;
}

div.photoframe {
  width: auto;
  max-width: 700px;
  background: white;
  padding: 10px;
  text-align: center;
  margin: auto;
}

@media (max-width: 500px) {
  div.photoframe { padding: 10px 0 }
  div.gal_container { font-size: 90%; gap: 2px }
  div.gal_container div.thumb { max-width: 140px }
  div.gal_container div.thumb img { height: 100px }
}

img.photo {
  max-width: 100%;
  margin: auto;
}

div.photo_info {
  display: grid;
  grid-template-columns: 80px 1fr;
  text-align: left;
  background: white;
  max-width: 700px;
  font-weight: normal;
  font-size: 100%;
  margin: 10px 0;
}

/*
@media (max-width: 500px)
{
  div.photo_info { display: block; }
}
  */

div.galnav {
  margin: auto;
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-content: center;
  justify-self: center;
}

form.returnbutton {
  margin-bottom: 5px;
}

form.returnbutton input[type=submit] {
  background: linear-gradient(white, #ccc);
}

div.photoframe form.editbutton {
  margin-bottom: 10px;
 }