/* gallery.CSS style sheet for public new picture gallery */

div.gallery-list {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 1rem;
  height: auto;
}

.gallery-link i {
  font-size: var(--fs-2);
  color: var(--primary-color);
  padding-right: 2rem;
}

.gallery-link a {
  display: block;
  padding: 0.75rem;
  color: var(--primary-link-color);
}

.gallery-link a:visited {
  color: var(--primary-link-visited-color);
}

.gallery-link a:hover {
  color: var(--primary-link-hover-color);
}

@media (max-width: 1000px) {
  div.gallery-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  div.gallery-list
  {
    display:block;
  }
}
form.inlinebutton { display: inline-block; margin: 0 10px;}

form.editbutton input[type=submit],
form.addbutton input[type=submit]
{
  background: linear-gradient(#efe, #afa)
}

form.spacedbutton { margin: 10px 0 }
form.delbutton input[type=submit]
{
  background: linear-gradient(white, #f66);
}

/*form.addgalbutton input[type=submit], form.addphotobutton input[type=submit] {
  font-size: font-size: var(--fs-1);
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--reverse-color);
  background-color: var(--reverse-bg-color);
  text-decoration: none;
  cursor: pointer;
}*/

form.delbutton {
  margin: 10px 0
}

form input.title {
  max-width: 200px;
}

div.galdetails {
}

div.gal_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

div.thumb {
  height: auto;
  background: black;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  padding: 1rem;
}

div.thumb a {
display: block;
padding: 1rem;
margin: auto;
}

div.thumb img {
  display: block; 
  margin: auto;
  height: 150px;
}


div.photoframe {
  width: auto;
  max-width: 700px;
  background: white;
  padding: 10px;
  text-align: center;
  margin: auto;
}

<!-- @media (max-width: 480px) {
  div.photoframe { padding: 10px 0 }
  div.gal_container { font-size: 90%; gap: 2px }
  div.gal_container div.thumb { max-width: 140px }
  div.gal_container div.thumb img { height: 100px }
} -->

img.photo {
  max-width: 100%;
  margin: auto;
}

div.photo_info {
  display: grid;
  grid-template-columns: 80px 1fr;
  text-align: left;
  background: white;
  max-width: 700px;
  font-weight: normal;
  font-size: 100%;
  margin: 10px 0;
}

div.galnav {
  margin: auto;
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-content: center;
  justify-self: center;
}

form.returnbutton {
  margin-bottom: 5px;
}

form.returnbutton input[type=submit] {
  background: linear-gradient(white, #ccc);
}

div.photoframe form.editbutton {
  margin-bottom: 10px;
 }