/* CSS for public pages */
/* Todo: Set margins and possibly widths using clamp to ensure full reponsiveness */

/* variables for all colors and font sizes */
:root {
    --primary-bg-color: #ffffff;
    --primary-color: #000000;
    --reverse-bg-color: #000000;
    --reverse-color: #ffffff;
    --warning-color: #E7180B;
    --primary-link-color: #2d56b5;
    --greyed-bg-colr: #CCD1D1;
    --greyed-txt-color: #787878;
    --primary-link-hover-color: #0e45c7;
    --primary-link-visited-color: #5485f7;
    --reverse-bg-link-hover-color: #88a3e3;
    --gallery-image-background: #F0F0F0;
    --fs-1: clamp(1.00rem, calc(0.98rem + 0.13vw), 1.13rem);;
    --fs-2: clamp(1.25rem, calc(1.20rem + 0.25vw), 1.50rem);
    --fs-3: clamp(1.56rem, calc(1.48rem + 0.44vw), 2.00rem);
    --fs-4: clamp(1.95rem, calc(1.81rem + 0.71vw), 2.66rem)
}

* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/images/circles_interlaced.png");
    background-repeat: repeat;
    font-family: Verdana, Arial, sans-serif;
    color: var(--primary-color);
    margin: 0 auto;
    width: 70%;
    max-width: 70rem;
}

h1 {
    font-size: var(--fs-4);
    line-height: 1.2;
    padding-top: 1rem;
}

h2 {
    font-size: var(--fs-3);
    line-height: 1.3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: var(--fs-2);
    line-height: 1.4;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

h1, h2, h3 {
    font-family: Trebuchet MS, Verdana, Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

p, table, a, button, ul, li {
    font-size: var(--fs-1);
    line-height: 1.5;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

blockquote {
    font-size: var(--fs-1);
    color: var(--primary-color);
    font-style: italic;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
}

q {
    font-style: italic;
}

li {
    padding: 0.5rem;
}

ul li::marker {
    font-size: 2rem;
}

address {
    font-size: var(--fs-1);
    font-style: normal;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

a:link {
    color: var(--primary-link-color);
}

a:visited {
    color: var(--primary-link-visited-color);
}

a:hover {
    color: var(--primary-link-hover-color);
}

.big-link {
    text-align: center;
    padding-top: 1rem;
}

.big-link a {
    font-size: 2rem;
}

header {
    background-color: var(--reverse-bg-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.logo {
    align-self: center;
}

.logo h1 {
    padding-left: var(--fs-1);
    font-size: var(--fs-3);
    text-align: left;
    color: var(--reverse-color);
}

header h1 span {
    font-size: var(--fs-1);
}

.sign-in-link {
    color: var(--primary-color);
    min-width: fit-content;
    padding-right: var(--fs-1);
    padding-left: var(--fs-1);
    padding-top: var(--fs-1);
}

a.sign-in-button {
    font-size: var(--fs-1);
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    text-decoration: none;
    cursor: pointer;
}

main {
    border: none;
    background-color: var(--primary-bg-color);
    padding-bottom: 2rem;
}

nav {
    background-color: var(--reverse-bg-color)
}

.top-nav {
    overflow: hidden;
    background-color: var(--reverse-bg-color);
}

.top-nav a {
    float: left;
    display: block;
    color: var(--reverse-color);
    text-align: center;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: var(--reverse-color);
    color: var(--primary-color);
}

.top-nav a.active {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

.top-nav .icon {
    display: none;
}

a.email {
    font-family: monospace;
}

footer {
    display: flex;
    background-color: var(--reverse-bg-color);
    color: var(--primary-color);
    padding: 0rem 1rem;
}

footer a {
    color: var(--reverse-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:visited {
    color: var(--reverse-color);
}

footer a:link {
    color: var(--reverse-color);
}

footer a:hover {
    color: var(--reverse-bg-link-hover-color);
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

.footer-row {
    display: flex;
    margin-bottom: 0.5rem;
}

.footer-column {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    padding: 0rem 0;
    word-break: break-all;
}

.footer-link {
    display: block;
    font-size: var(--fs-2);
    width: max-content;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
}

.copyright {
    font-size: var(--fs-1);
    color: var(--reverse-color);
}

.footer-social {
    font-size: var(--fs-4);
}

a.footer-email {
    color: var(--reverse-color);
}

@media (max-width: 600px) {
    .footer-row.bottom-row {
        flex-wrap: wrap;
    }

    .footer-row.bottom-row .footer-column {
        flex-basis: 100%;
    }
}

/* image slideshow */
.slideshow-container {
    margin: 2rem auto;
    width: 70%;
}

.slideshow {
    width: 100%;
    position: relative;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--primary-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* For screens less than 480px wide */
@media screen and ( max-width: 480px ) {
    .slideshow-container {
        width: 100%;
    }
}

/* Embedded YouTube videos */

.youtube {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%;
    margin: 1rem auto;
    border: none;
    background-color: var(--primary-bg-color);
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Index page specific */

a.big-button {
    display: block;
    font-size: var(--fs-2);
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 2rem;
    color: var(--reverse-color);
    background-color: var(--reverse-bg-color);
    text-decoration: none;
    width: fit-content;
    margin: 1rem auto;
}

.next-performances-table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.75rem;
    text-align: left;
    margin: 0 auto;
    max-width: 50rem;
    font-size: var(--fs-1);
}

/* Programme page specific */

div.prog-outer {
    background: var(--primary-bg-color);
    max-width: 50rem;
    margin: 0 auto;
    color: var(--primary-color);
    padding: 1.5rem 0;
}

table.prog {
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-right: none;
    border-left: none;
    color: var(--primary-color);
}

table.prog tr td {
    vertical-align: top;
    padding: 0.5rem;
    background: var(--primary-bg-color);
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-right: none;
    border-left: none;
}

table.prog tr td.date {
    white-space: nowrap;
}

table.prog {
    background: var(--primary-bg-color);
}

table.prog tr.old-date {
    color: var(--greyed-txt-color);
    font-weight: normal;
}

table.prog tr.old-date td {
    color: var(--greyed-txt-color);
    font-weight: normal;
}

table.prog tr.year {
    font-weight: bold;
}

span.event-title {
    font-weight: bold;
}

/* Gallery page specific */

div.gallery-list {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1rem;
    height: auto;
}

.gallery-link i {
    font-size: var(--fs-2);
    color: var(--primary-color);
    padding-right: 2rem;
}

.gallery-link a {
    display: block;
    padding: 0.75rem;
    color: var(--primary-link-color);
}

.gallery-link a:visited {
    color: var(--primary-link-visited-color);
}

.gallery-link a:hover {
    color: var(--primary-link-hover-color);
}

.gallery-thumbs {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    gap: 0.7rem;
}

.gallery-thumbs img {
    border-radius: 0.3rem;
}

.gallery-thumbs img:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s
}

.photo-container {
    position: relative;
    /*background-color: var(--gallery-image-background);*/
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;
}

/* View photo page for galleries */
picture img.photo {
    max-width: 70%;
    display: block;
    margin: 1rem auto;
}

/* For screens less than 480px wide */
@media screen and ( max-width: 480px ) {
    picture img.photo {
        max-width: 100%;
    }
}

.gallery-btn {
    cursor: pointer;
    user-select: none;
    display: block;
    color: var(--primary-color);
    background-color: rgb(255, 255, 255, 0.6);
    border: none;
    font-size: var(--fs-1);
    min-width: var(--fs-3);
    height: var(--fs-3);
    border-radius: 100%;
    align-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.gallery-btn:hover {
    background-color: #F5F5F5;
}

.gallery-next, .gallery-prev {
    position: absolute;
    top: 50%;
}

.gallery-next {
    right: 1%;
}

.gallery-prev {
    left: 1%;
}

.gallery-close {
    position: absolute;
    top: 2%;
    right: 2%;
}

.gallery-edit {
    position: absolute;
    top: 2%;
    left: 2%;
}

/* video page specific */

video {
    display: block;
    margin: 1rem auto;
    width: 100%;
    max-width: 700px;
}

.video-link {
    padding-bottom: 0.5rem;
}

.video-link i {
    font-size: var(--fs-2);
    color: var(--primary-color);
    padding-right: 2rem;
}

.video-link p {
    padding-left: 2rem;
    margin: 0;
}

/* Specific to Music page */

.musicians_image {
    display: table;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.musicians_image img {
    max-width: 100%;
    border-radius: 0.5rem;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    padding-bottom: 1rem;
}

/* Specific to News page */

.news-item {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

img.news-pic {
    display: block;
    max-width: 100%;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
}

/* Specific to Quotes page */

.quote {
    border-bottom: 2px solid var(--primary-color);
    padding: 1rem 0.5rem;
}

.quote:last-child {
    border: none;
}

/* Specific to Chris tribute page */

.tribute-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 0.5rem;
}

.tribute-intro div {
    width: 400px;
}

.tribute-intro-pic {
    max-width: 100%;
    flex-shrink: 2;
    flex-grow: 0;
}

.tribute-intro-text {
    flex-shrink: 1;
    flex-grow: 5;
}

.tribute-intro img {
    max-width: 100%;
}

.tribute-intro-text p {
    padding: 1rem;
    line-height: 2rem;
}

/* Specific to Rob tribute page */
figure.full {
    margin: 1rem auto;
}

figure.full img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figure.full figcaption {
    text-align: center;
    display: block;
}

img.half {
    display: block;
    float: right;
    max-width: 50%;
    padding: 0 0.5rem 0 0.5rem;
}

.poem {
    padding-left: 1rem;
    font-style: italic;
    line-height: 2rem;
}

div.clear-fix {
    overflow: auto;
}

/*Specific to Glens tribute page*/
.tribute-video {
    max-width: 30rem;
}

/* Specific to Contacts page */

.google-map {
    display: block;
    max-width: 100%;
    border-radius: 0.5rem;
    margin: 0 auto;
}

/* From original style.css */
/* error pages */
body.errorpage {
    background: black;
    color: white;
    text-align: center;
}

body.errorpage h1 {
    margin: 20px 0;
}

div.errorpage {
    width: 600px;
    max-width: 90%;
    border: thin solid white;
    margin: 10px auto;
}

div.errorpage div.footer {
    margin-top: 10px;
    background: white;
    color: black;
    padding: 5px
}

div.errorpage span.email {
    display: block;
    margin: auto;
    max-width: 100%
}

/* message and error boxes */
/* taken from original style.css */
div.errorbox, div.msgbox {
    width: max-content;
    max-width: 90%;
    margin: 10px;
    padding: 10px;
    background: white;
    font-family: sans-serif;
    border-radius: 10px;
}

div.errorbox {
    border: 3px solid #900;
    color: #900;
    background: #fff4f4;
}

div.msgbox {
    border: 3px solid #090;
    color: #090;
    background: #f4fff4;
}

/* General data record forms */

.form-container {
    width: 40rem;
    max-width: 95%;
    padding: 1rem;
}

::file-selector-button, input[type="submit"].submit-button {
    font-size: var(--fs-1);
    padding: .3rem 1rem;
    border: none;
    border-radius: 1rem;
    color: var(--reverse-color);
    background-color: var(--reverse-bg-color);
    cursor: pointer;
    margin: 1rem 0 0.5rem 0;
}

input[type="submit"].warning {
    color: var(--warning-color);
}

form div.form-input-pair {
    background: var(--primary-bg-color);
    color: var(--primary-color);
    font-size: var(--fs-1);
    margin: 1rem 0;
}

form div.form-input-pair > div {
    margin: 0.5rem 0;
}

input[type=text] {
    font-size: var(--fs-1);
    width: 40rem;
    max-width: 95%;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.3rem;
}

textarea {
    width: 40rem;
    height: calc(3 * 1.5 * var(--fs-1));
    font-size: var(--fs-1);
    max-width: 95%;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.3rem;
}

div.photo-info {
    display: grid;
    grid-template-columns: 8rem 1fr;
    margin: 1rem 0;
}

div.gal-nav {
    margin: 0 auto;
    background: var(--primary-bg-color);
    color: var(--primary-bg-color);
    display: grid;
    grid-template-columns: 5rem 10rem 5rem;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

@media screen and (max-width: 1280px) {
    div.gallery-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    body {
        width: 85%
    }
}

@media screen and (max-width: 600px) {
    .top-nav a:not(:first-child) {
        display: none;
    }

    .top-nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top-nav.responsive {
        position: relative;
    }

    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    div.gallery-list {
        display: block;
    }
}

/* For screens less than 480px wide */
@media screen and ( max-width: 480px ) {
    body {
        width: 100%;
    }
}




