* {box-sizing:border-box}
body {
background-color: black;
}
/* slideshow */
.slideshow-container {
 width: 600px;
 position: relative;
 margin: auto;
 background-color: black
}

/* Slideshow container */
.slideshow {
  max-width: 616px;
  padding: 0 2rem;
  position: relative;
  margin: auto;
  margin; 1rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-size: 2rem;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /*background-color: white;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /*background-color: #717171;*/
    background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
